@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:   #1a1a1a;   
    /* #9d21ce; */
    /* min-width: 850px; */
}
html {
    background-color:   #1a1a1a;    
    overflow: hidden;
}
* {
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;   
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  
}
img {
    width: 100%;
    height: 100%;
    pointer-events: none
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    margin: 0;
}
#main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#submain {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
#root_top_bar {
    height: 80px;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root_top_bar_container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
#nav_bar {
    width: 200px;
    min-width: 200px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 98%;
    margin: auto 0;
    margin-left: 10px;
    row-gap: 15px;
    transition: all 0.3s;

}
#view_container {
    overflow: hidden;
    width: 100%;
    height: 98%;
    max-height: 98%;
    margin: auto 0;
    color: white;
}
#view_container_content {
    overflow-y: auto;
    width: 98.5%;
    height: 79vh;
    border-radius: 10px;
    margin: auto 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#view_container_content::-webkit-scrollbar {
    display: none;
}
#main_container {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#player_bar {
    height: 100px;
}

#logo {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
}
#logo > h1 {
    margin: 0;
}
#user_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 50px;
    background-color: #a3acc4;
}

#playlist_list {
    overflow-y: auto;
    height: 55vh;
    padding-top: 14px;
    border-top: 1px solid rgb(255, 168, 255);
    display: flex;
    flex-direction: column;
}
#playlist_list::-webkit-scrollbar{
    display: none;
}
.act_btn_name, .playlist_name {
    margin: auto 0;
    font-size: 14px;
    transition: 0.1s;
    color: white;
}
.playlist_name {
    margin-left: 20px;
}
#act_btns {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



.act_btn {
    column-gap: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    transition: 0.1s;
    cursor: pointer;
    
}

.act_btn:hover  {
    color: white;
}
.playlist_block:hover .playlist_name {
    color: white;
}

.playlist_block {
    height: 34px;
    cursor: pointer;
}

/* ======================search bar================ */
#search_icon {
    width: 40px;
    margin-left: 5px;
}
#search-bar > input {
    font-size: 20px;
    position: absolute;
    outline: none;
    border: none;
    width: 500px;
    height: 100%;
    background-color: transparent;
    color: white;
}
#search-bar {
    position: relative;
    width: 550px;
    height: 46px;
    border-radius: 5px;
    background-color: rgb(109, 109, 109);
}


.section_block {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 80px);
    row-gap: 15px;
    column-gap: 20px;
    width: 96%;
    height: auto;   
}
.block_name {
    width: 96%;
    margin: 0 auto;
    color: white;
}
.name_playlist_block {
    cursor: pointer;
    position: relative;
    display: grid;
    background-color: rgba(70, 70, 70, 0.345);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    transition: 0.3s;
}
.name_playlist_block:hover {
    background-color: rgba(129, 129, 129, 0.345);
}
#recently_played_playlists > .name_playlist_block {
    padding-bottom: 0;
}
.img_container_block {
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.playlist_name {
    justify-content: center;
}
.block_info {
    width: 84%;
    height: 88%;
    margin: auto auto;
}

.img_container_block_other {
    position: relative;
    width: 100%;
}
.container_block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.section_block_other {
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(1, 100%);
}
#morelike_played_playlists {
    padding-bottom: 20px;
}
#act_btn_img {
    width: 34px;
    height: 34px;
}
#act_btn_img > img {
    border-radius: 4px;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}
.playbtn_block {
    z-index: 100;
    color: greenyellow;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 10px;
    bottom: 40px;
    transition: all 0.2s;
}

.playbtn_block > i.fa-play-circle {
    font-size: 50px;
    color: #8758FF;
}


.name_playlist_block:hover .playbtn_block {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
}

.other_block_btn {
    position: absolute;
    bottom: 0px;
    right: 10px;
    color: greenyellow;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
}

.name_playlist_block:hover .other_block_btn {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
}
.container_block_1 {
    padding-top: 0;
}




@media only screen and (max-width: 1100px) {
    .section_block {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 80px);
    }
    .section_block_other {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(1, 100%);

    }    
}
@media only screen and (max-width: 1285px) {
    .section_block_other {
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(1, 100%);
    }    
    .section_block_other > .name_playlist_block:nth-child(5) {
        display: none;
    }
}
@media only screen and (max-width: 1266px) {
    .section_block_other {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(1, 100%);
    }    
    .section_block_other > .name_playlist_block:nth-child(4) {
        display: none;
    }
}
@media only screen and (max-width: 970px) {
    .section_block_other {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(1, 100%);
    }    
    .section_block_other > .name_playlist_block:nth-child(3) {
        display: none;
    }
}

@media only screen and (max-device-width: 1000px) {
    .section_block_other {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(1, 100%);
    }    
    .section_block_other > .name_playlist_block:nth-child(1) {
        display: inline-flex;
    }
    .section_block_other > .name_playlist_block:nth-child(2) {
        display: inline-flex;
    }
    .section_block_other > .name_playlist_block:nth-child(3) {
        display: inline-flex;
    }
    .section_block_other > .name_playlist_block:nth-child(4) {
        display: inline-flex;
    }
    .section_block_other > .name_playlist_block:nth-child(5) {
        display: inline-flex;
    }
    .section_block_other > .name_playlist_block:nth-child(6) {
        display: inline-flex;
    }

}



@media only screen and (max-device-width: 700px) {
    #player_bar {
        height: 50px;
    }
}


.img_container_block_other {
    aspect-ratio: 1/1;
}

.history-navigation {
    display: flex;
    flex-direction: row;
    column-gap:30px;
    margin-right: 20px;
}

@media only screen and (max-width: 700px) {
    .history-navigation {
        display: none;
    }
}
.go-btn {
    transition: 0.2s;
    position: relative;
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.go-btn img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}
.btn-container {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.409);
}
#go-back {
    transform: rotate(270deg);
}
#go-forward {
    transform: rotate(90deg);
}
.hidden-nav-bar {
    left: -300%;
}
.show-nav-bar {
    left: 0;
}
.home_page_link {
    width: 46px;
    height: 46px;
    filter: invert(33%) sepia(82%) saturate(2455%) hue-rotate(239deg) brightness(102%) contrast(102%);

}



*:focus{
    outline: none;
   }

   #main {
    min-width: 764px;
}
   @media only screen and (max-device-width: 700px) {
    .root_top_bar_container{
        width: 100%;
    }
    #main {
        min-width: 0;
    }
    #logo {
        display: none;
    }
    #user_icon {
        display: none;
    }
    .home_page_link {
        display: none;
    }
    #search_icon {
        display: none;
    }
    #search-bar {
        border-radius: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50px;
    }
    .block_name h1 {
        font-size: 24px;
    }
    .container_block {
        row-gap: 0;
    }
    #search-bar > input {
        width: 94%;
    }
    .container_block_last {
        padding-bottom: 100px;
    }
    #nav_bar {
        z-index: 100;
        top: 0;
        width: 100%;
        margin-left: 0;
        background-color: #cdcdcda8;
        position: fixed;
        height: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .playlist_block{
        height: 50px;
    }
    .subblock > .playlist_name {
        font-size: 25px;
    }
    .act_btn {
        height: 50px;
    }
    #act_btn_img {
        width: 50px;
        height: 50px;
    }
    .act_btn_name {
        font-size: 20px;
    }
    
    #view_container {
        width: 100%;
        margin-top: 0;
    }
    .container_block_1  {
        padding-top: 34px;
        row-gap: 10px;
    }
    #view_container_content {
        width: 100%;
        margin-left: 0;
    }
    .section_block_other {
        padding: 0 10px;
        width: 100%;
        overflow-y: auto;
        grid-template-columns: repeat(6, 140px);
        column-gap: 0;
    }
    #view_container_content {
        border-radius: 0;
        height: 100%;
        overflow-x: hidden;
    }
    .section_block_other::-webkit-scrollbar {
        display: none;
    }
    .section_block_media {
        height: fit-content;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }
    #player_bar {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
    }
    .name_playlist_block {
        background-color: transparent;
        width: auto;
    }
    .bla_bla {
        text-align: center;
        padding-top: 10px;
    }
    .playlist_name {
        margin-left: 10px;
    }
    


    
    }




