{% extends 'base/home.html' %}
{% block head %}
{% load static %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'base/collection.css' %}">
{% endblock head %}


{% block content %}
<div id='playlist_info'>
    <div id='info_container'>
        <div id='playlist_img'>
            <img src="{% static 'base/icons/download.png' %}" alt="">
        </div>
        <div id='playlist_info_block'>
            <p id='playlist_info_type'>PLAYLIST</p>
            <h1 id='playlist_info_name'>Liked Songs</h1>
        </div>
    </div>
</div>
<div id='act_area'>
    <div id='btn_list'>
        <div class='act_btn_playlist' id="playbtn">
            <img src="{% static 'base/icons/play.svg' %}" alt="">
        </div>
    </div>
</div>
<div id='musics_list'> 
</div>
{% endblock content %}
